body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdf0e6;
    display: flex;
    justify-content: center;
}

#content {
    padding-top: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#logo {
    width: 200px;
    height: auto;
}